<!doctype html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        <link rel="manifest" href="/static/manifest.json" />
        <meta name="theme-color" content="#0B0F1A" />
        <title>Pro Axess</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='icons/icon.ico') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>

    <body>
        <div id="themeButtons" style="display: flex; gap: 6px; margin: 10px 0">
            <button class="theme-btn" data-theme="red" title="Rouge"></button>
            <button
                class="theme-btn"
                data-theme="purple"
                title="Violet"
            ></button>
            <button class="theme-btn" data-theme="blue" title="Bleu"></button>
            <button class="theme-btn" data-theme="green" title="Vert"></button>
            <button
                class="theme-btn"
                data-theme="yellow"
                title="Jaune"
            ></button>
        </div>

        <div id="loading-overlay">
            <div class="spinner"></div>
        </div>
        <div id="login">
            <h1>Pro Axess</h1>
            <input type="text" id="username" placeholder="Identifiant" />
            <input type="password" id="password" placeholder="Mot de passe" />
            <button onclick="login()" id="loginButton">Se connecter</button>
            <p id="error"></p>

            <div id="login" class="disclaimer-box">
                <strong>ℹ️ Informations</strong><br />
                Ce projet est en développement actif et peut contenir des
                fonctionnalités expérimentales. Vos contributions, suggestions
                et retours sont les bienvenus — contactez-moi pour en discuter.
                <br /><br />
                <a
                    href="https://github.com/zerofish0/axess-pro"
                    target="_blank"
                >
                    Consulter le dépôt GitHub du projet </a
                ><br /><br />
                <strong>Mentions légales</strong><br />
                Ce projet est distribué à titre éducatif et sans garantie
                d’aucune sorte. L’auteur ne saurait être tenu responsable de
                tout dommage, perte de données ou mauvaise utilisation du code.
                En utilisant ce projet, vous acceptez ces conditions.
                <br /><br />
                <strong>Remerciements</strong><br />
                <a href="https://github.com/bain3/pronotepy" target="_blank">
                    - Pronotepy </a
                ><br />
                <a href="https://chatgpt.com" target="_blank"> - ChatGPT </a
                ><br />
            </div>
        </div>

        <div id="dashboard" style="display: none">
            <h1 id="greeting">Bonjour 👋</h1>

            <div class="row">
                <div class="section" style="text-align: center">
                    <h2>
                        🛠️ Index Momentum
                        <button
                            onclick="toggleInfo()"
                            style="
                                cursor: pointer;
                                border: none;
                                background: none;
                                padding: 0;
                                font-size: 1em;
                            "
                        >
                            ℹ️
                        </button>
                    </h2>
                    <p id="MomentumInfo" style="display: none">
                        L'index Momentum est une valeur entre 1 et +inf qui reflète ton travail,
                        elle ne peut qu'augmenter et reflète le travail fourni lors du trimestre,
                        moins on a de bonne notes, moins le momentum augmente.
                    </p>

                    <ul id="momentum"></ul>
                </div>
            </div>

            <div class="row">
                <div class="section">
                    <h2>📝 Devoirs à faire</h2>
                    <ul id="homework"></ul>
                </div>

                <div class="section">
                    <h2>📅 Cours de demain</h2>
                    <ul id="planner"></ul>
                </div>
            </div>

            <div class="row">
                <div class="section">
                    <h2>📈 Moyenne générale</h2>
                    <canvas
                        id="averageCircle"
                        width="200"
                        height="200"
                    ></canvas>
                </div>

                <div class="section">
                    <h2>📊 Moyennes par matière</h2>
                    <canvas id="barChart" height="300"></canvas>
                </div>
            </div>
        </div>

        <div class="bottom-left">
            <p>projet réalisé par Zerofish0</p>
            <p>version : 3.0 (06/11/2025)</p>
            <a
                href="https://0280994d.index-education.net/pronote/eleve.html"
                target="_blank"
            >
                lien de l'ENT
            </a>
        </div>

        <script>
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker
                    .register("/static/service-worker.js")
                    .then(() => console.log("Service Worker enregistré"))
                    .catch((err) => console.error("Erreur SW :", err));
            }
        </script>
        <script>
            function toggleInfo() {
                const info = document.getElementById("eloInfo");
                info.style.display =
                    info.style.display === "none" ? "block" : "none";
            }
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </body>
</html>
