<!DOCTYPE html>
<html lang="fr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Pro Axess</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="login">
    <h1>Pro Axess</h1>
    <input type="text" id="username" placeholder="Identifiant">
    <input type="password" id="password" placeholder="Mot de passe">
    <button onclick="login()" id="loginButton">Se connecter</button>
    <p id="error"></p>
    <div id="login" class="disclaimer-box">
        <strong>⚠️ Avertissement ⚠️</strong><br>
        Toutes contributions et suggestions d'amélioration sont les bienvenue, ce projet est en développement actif, n'hésitez pas à me contacter pour plus d'informations.
        <a href="https://github.com/zerofish0/axess-pro" target="_blank">
          Consulter le dépôt du projet
        </a><br><br>
        Remerciements : <br><br>
        <a href="https://github.com/bain3/pronotepy" target="_blank">
          - Pronotepy
        </a><br><br>
        <a href="https://chatgpt.com" target="_blank">
          - ChatGPT
        </a><br><br>
    </div>
  </div>

  <div id="dashboard" style="display:none;">
    <h1 id="greeting">Bonjour 👋</h1>

    <div class="row">
      <div class="section">
        <h2>📝 Devoirs à faire</h2>
        <ul id="homework"></ul>
      </div>
      <div class="section">
        <h2>📅 Cours de demain</h2>
        <ul id="planner"></ul>
      </div>
    </div>

    <div class="row">
      <div class="section">
        <h2>📈 Moyenne générale</h2>
        <canvas id="averageCircle" width="200" height="200"></canvas>
      </div>
      <div class="section">
        <h2>📊 Moyennes par matière</h2>
        <canvas id="barChart" height="300"></canvas>
      </div>
    </div>
  </div>
  <div class="bottom-left">
    <p>projet réalisé par Zerofish0</p>
    <p>version : 1.0.0 (27/09/2025)</p>
    <p>lien de l'ENT : https://0280994d.index-education.net/pronote/eleve.html</p>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
